{
 :paths ["src/clj"]
 :deps {}

 :aliases
 {
  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}

  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.10"}
                 slipset/deps-deploy {:mvn/version "RELEASE"}}
          :ns-default build}
  
  :dev {:extra-deps {org.clojure/clojure {:mvn/version "1.12.3"}}}}
}
